<div class="container tea-section" th:fragment="aboutUs">
    <div class="row align-items-center">
        <!-- Phần giới thiệu bên trái -->
        <div class="col-md-6">
            <h5 class="text-warning fw-bold">VỀ CHÚNG TÔI</h5>
            <h1 class="fw-bold">Không chỉ là son môi, đó là tuyên ngôn của phái đẹp.</h1>
            <p>
                Son TH ra đời từ niềm đam mê mãnh liệt với vẻ đẹp và khát khao mang đến những sản phẩm son môi chất lượng cao,
                an toàn cho sức khỏe người tiêu dùng Việt Nam. Người sáng lập, chị Thu Hương, một chuyên gia trang điểm
                có nhiều năm kinh nghiệm trong ngành làm đẹp, đã ấp ủ ý tưởng về một thương hiệu son môi của riêng mình từ lâu.
            </p>
            <button class="btn btn-custom">XEM THÊM</button>
        </div>

        <!-- Phần carousel bên phải -->
        <div class="col-md-6">
            <div id="aboutUs" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/aboutUs/AboutUs1.png" alt="Trà Thảo Mộc" class="d-block w-100">
                            </div>
                            <div class="col-md-4">
                                <img src="/img/aboutUs/AboutUs2.png" alt="Hướng Dẫn Pha Trà" class="d-block w-100">
                            </div>
                            <div class="col-md-4">
                                <img src="/img/aboutUs/AboutUs3.png" alt="Công Dụng" class="d-block w-100">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/aboutUs/AboutUs2.png" alt="Hướng Dẫn Pha Trà" class="d-block w-100">
                            </div>
                            <div class="col-md-4">
                                <img src="/img/aboutUs/AboutUs3.png" alt="Công Dụng" class="d-block w-100">
                            </div>
                            <div class="col-md-4">
                                <img src="/img/aboutUs/AboutUs4.png" alt="Công Dụng 2" class="d-block w-100">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nút điều hướng -->
                <button class="carousel-control-prev" type="button" data-bs-target="#aboutUs" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#aboutUs" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
