/* Đảm bảo body không bị che bởi navbar */
body {
    font-family: Arial, sans-serif;
}

.header{
    position: relative;
}


/* Navbar cố định trên cùng */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    background: transparent;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: none;
    transform: translateY(0); /* Hiện ban đầu */
}

.navbar.hide {
    transform: translateY(-100%); /* Ẩn hoàn toàn khi cuộn xuống */
}

.navbar.scrolled {
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    height: 100px;
    .nav-link {
        margin-left: 50px;
        font-size: 20px;
        font-weight: bolder;
        color: black; /* Đổi màu chữ để dễ nhìn */
    }
}

/* Carousel full màn hình */
#bannerCarousel {
    width: 100%;
    height: 100vh; /* Chiếm toàn bộ chiều cao màn hình */
    margin-top: 0; /* Đảm bảo không bị lệch */
}

/* Đảm bảo ảnh trong carousel không bị méo */
#bannerCarousel .carousel-inner,
#bannerCarousel .carousel-item,
#bannerCarousel .carousel-item img {
    height: 100%;
    object-fit: cover;
}

/* Tùy chỉnh menu */
.navbar .nav-link {
    margin-left: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: white; /* Đổi màu chữ để dễ nhìn */
}

/* Hover đổi màu */
.navbar .nav-link:hover {
    color: #f8d210 !important;
}

.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    /*background: rgba(0, 0, 0, 0.5); !* Nền mờ *!*/
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    max-width: 80%;
    color: #8b5e3c;
}

.carousel-caption h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.carousel-caption p {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;

}

/* --- Button Custom --- */
.carousel-caption .shop-now {
    background: transparent;
    color: #6a4426;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 1.5rem;
    border: 1px solid #6a4426;
    transition: all 0.3s ease-in-out;
    font-family: 'Great Vibes', cursive;
}

.carousel-caption .shop-now:hover {
    background-color: white;
    transform: scale(1.05);
}


/* --- Responsive --- */
@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 1.8rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }

    .carousel-caption {
        padding: 15px 20px;
    }

    .carousel-caption .shop-now {
        padding: 8px 20px;
        font-size: 0.9rem;
    }
}
